<!DOCTYPE html>
<html>

<head>
  <title>Portato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="//use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <link rel="stylesheet" href="/style/main.css">
  <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.min.js"></script>
</head>

<body>
  <header>
    <div class="section">
      <div class="container is-fluid">
        <h1 class="title">Usage</h1>
        <p class="subtitle">
          <%= new Date() %>
        </p>
      </div>
    </div>
  </header>
  <div class="section">
    <div class="container is-fluid">
      <%- body %>
    </div>
  </div>
  <footer class="footer">
    &copy; sforzando LLC.
  </footer>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#table').tablesorter({
        sortList: [
          [2, 1]
        ] // default sort by mailbox_size
      });
    });
  </script>
</body>

</html>
