<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portato</title>
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/js/tablesorter/themes/blue/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/tablesorter/jquery.tablesorter.min.js"></script>
  </head>
  <body>
    <%- body %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#table').tablesorter({
          sortList: [[2, 1]]  // default sort by mailbox_size
        });
      });
    </script>
  </body>
</html>
